<h1 id="aszokes-matlab-world">aszoke's Matlab toolboxes</h1>
<h2 id="about">About</h2>
<p>In the following links you can find my matlab toolboxes. These toolboxes implement some algorithms that were important in my research. The available toolboxes are:</p>
<p><strong>Note</strong>: <em>Due to the Bitbucket HTML preview restriction (see <a href="https://bitbucket.org/site/master/issue/6353/html-rendering-for-generated-doc">HTML rendering for generated doc</a>), in order to view the Test run samples in HTML, use should use the <a href="http://htmlpreview.github.io/">GitHub &amp; BitBucket HTML Preview</a> service. (Copy the link below and paste it into the text box that can be found in the service page.)</em></p>
<ul>
<li>
<p><a href="https://bitbucket.org/aszoke/clustering_toolbox">Clustering Toolbox</a> contains clustering algorithms. Clustering is the task of grouping a set of objects in such a way that objects in the same group (called a cluster) are more similar (in some sense or another) to each other than to those in other groups (clusters).</p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/clustering_toolbox/raw/master/html/test_clustering_toolbox.html">test_clustering_toolbox.html</a></p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/clustering_toolbox/raw/master/dp/html/test_dynamicprog.html">test_dynamicprog.html</a></p>
</li>
<li>
<p><a href="https://bitbucket.org/aszoke/graph_toolbox">Graph Toolbox</a> contains useful algorithms including graph traversal (BFS, DFS), topological ordering and includes some metrics calculations.</p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/graph_toolbox/raw/master/html/test_graph_toolbox.html">test_graph_toolbox.html</a></p>
</li>
<li>
<p><a href="https://bitbucket.org/aszoke/packing_toolbox">Packing Toolbox</a> contains knapsacking and binpacking algorithms. Knapsacking and binpacking problems are a class of optimization problems that involve attempting to pack objects together into containers.</p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/packing_toolbox/raw/master/html/test_packing_toolbox.html">test_packing_toolbox.html</a></p>
</li>
<li>
<p><a href="https://bitbucket.org/aszoke/scheduling_toolbox">Scheduling Toolbox</a> contains basic algorithms to solve optimization problems in which jobs are assigned to resources at particular times.</p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/scheduling_toolbox/raw/master/html/test_scheduling_toolbox.html">test_scheduling_toolbox.html</a></p>
</li>
<li>
<p><a href="https://bitbucket.org/aszoke/sorting_toolbox">Sorting Toolbox</a> contains algorithms that are used to put elements of a list in a certain order.  Efficient sorting is important for optimizing the use of other algorithms which require input data to be in sorted lists.</p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/sorting_toolbox/raw/master/html/test_sorting_toolbox.html">test_sorting_toolbox.html</a></p>
</li>
<li>
<p><a href="https://bitbucket.org/aszoke/sw_estimation_toolbox">Software Estimation Toolbox</a> contains algorithms to predict the most realistic use of effort required to develop or maintain software. </p>
<p><strong>Test run sample</strong>:<a href="https://bitbucket.org/aszoke/sw_estimation_toolbox/raw/master/html/test_sw_estimation_toolbox.html">test_sw_estimation_toolbox.html</a></p>
</li>
</ul>
<p><strong>Author</strong>: Akos Szoke <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#115;&#122;&#111;&#107;&#101;&#64;&#109;&#105;&#116;&#46;&#98;&#109;&#101;&#46;&#104;&#117;">&#97;&#115;&#122;&#111;&#107;&#101;&#64;&#109;&#105;&#116;&#46;&#98;&#109;&#101;&#46;&#104;&#117;</a></p>
<p><strong>Web site</strong>: <a href="http://www.kese.hu">http://www.kese.hu</a></p>
<p><strong>Toolbox Source</strong>: <a href="https://bitbucket.org/aszoke/matlab/">https://bitbucket.org/aszoke/</a></p>
<h2 id="license">License</h2>
<p>(<a href="http://opensource.org/licenses/MIT">The MIT License</a>)</p>
<p>Copyright (c) 2011 Akos Szoke</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>